<!DOCTYPE html>
<html>
    <head>
        <title>linkyd</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width; initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            td {
              display: block;
            }

            @media screen and (min-width: 768px) {
              td {
                display: table-cell;
              }
            }

            thead th {
                position: sticky;
                top: 0;
                border-top: 0;
                background-color: white;
            }
        </style>
    </head>
    <body>
        <header class="container">
            <h1>linkyd <a href="/dump" class="btn btn-secondary">Dump database</a></h1>
        </header>
        <section class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message | safe }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
            <form method="post" action="{{ url_for('webapp_add') }}">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="d-none d-md-table-row">
                            <th>{{ TEXT['WEB_NAME'] }}</th>
                            <th>{{ TEXT['WEB_URI'] }}</th>
                            <th>{{ TEXT['WEB_ADDED'] }}</th>
                            <th>{{ TEXT['WEB_ACTIONS'] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5 class="d-md-none">{{ TEXT['WEB_NAME'] }}</h5>
                                <input class="w-100" name="name" placeholder="Type name" value="{{ name if name else '' }}"{% if not name %} autofocus{% endif %}>
                            </td>
                            <td colspan="2">
                                <h5 class="d-md-none">{{ TEXT['WEB_URI'] }}</h5>
                                <input class="w-100" name="uri" placeholder="Type uri"{% if name %} autofocus{% endif %}>
                            </td>
                            <td>
                                <button class="btn btn-primary type="submit">Add link</button>
                            </td>
                        </tr>
                        {% for (id, link) in links %}
                            <tr>
                                <td>
                                    <h5 class="d-md-none">{{ TEXT['WEB_NAME'] }}</h5>
                                    {{ link.name }}
                                </td>
                                <td>
                                    <h5 class="d-md-none">{{ TEXT['WEB_URI'] }}</h5>
                                    <a href="{{ link.display_uri() }}">{{ link.uri }}</a>
                                </td>
                                <td>
                                    <h5 class="d-md-none">{{ TEXT['WEB_ADDED'] }}</h5>
                                    {{ link.added.strftime('%c') }}
                                </td>
                                <td>
                                    <h5 class="d-md-none">{{ TEXT['WEB_ACTIONS'] }}</h5>
                                    <a class="btn btn-danger" href="{{ url_for('webapp_delete', link_id=id) }}">{{ TEXT['WEB_DELETE'] }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </section>
    </body>
</html>
