<!DOCTYPE html>
<html>
    <head>
        <title>linkyd</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width; initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            td {
              display: block;
            }

            @media screen and (min-width: 768px) {
              td {
                display: table-cell;
              }
            }

            thead th {
                position: sticky;
                top: 0;
                border-top: 0;
                background-color: white;
            }
        </style>
    </head>
    <body>
        <header class="container">
            <h1><a href="/">linkyd</a>
                <a href="/dump" class="btn btn-secondary">Store dump on server</a>
                <a href="/api/dump" class="btn btn-secondary" download="dump.json">Download dump</a>
                <a href="/restore" class="btn btn-secondary">Restore a downloaded dump</a>
            </h1>
        </header>
        <section class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message | safe }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
            <form method="post" action="{{ url_for('webapp_post_restore') }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="dumpFile">Choose a dump to upload</label>
                    <input type="file" id="dumpFile" name="dumpFile" class="form-control-file">
                </div>
                <button class="btn btn-primary" type="submit">Upload</button>
            </form>
        </section>
    </body>
</html>
