<div id="linky-links">
    {{- if .Links}}
    {{- range .Links}}
    <div class="link">
        <small style="">{{.AddedAt.Format "Jan 02, 15:04 UTC"}}</small>
        <a href="{{.URL}}">{{.Title}}</a>
        <span class="url">{{.URL}}</span>
        <small class="user">{{.User}}</small>
        <button
            class="delete"
            hx-confirm="Are you sure you want to delete the link?"
            hx-delete="/links/{{.ID}}"
            hx-target="#linky-links"
            hx-swap="outerHTML">
            delete
        </button>
    </div>
    {{- end -}}
    {{- else -}}
    <p>There are no links yet. Submit one!</p>
    {{- end -}}
</div>