{{define "title" -}}linky &mdash; all</title>{{- end}}

{{define "content" -}}
        {{ template "links.tmpl.html" .}}
     
        <div id="add-link">
            <form
                hx-post="/links"
                hx-indicator="#add-link"
                hx-target="#linky-links"
                hx-on::after-request="if (event.detail.successful) this.reset()"
            >
                <input name="title" type="text" placeholder="title...">
                <input name="url" type="text" placeholder="url...">
                <button>add link</button>
            </form>
        </div>
{{- end}}
